option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APPLICATION_ENV
    value: dummy-value

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_HOSTNAME
    value: dummy-value

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_PORT
    value: dummy-value

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_USERNAME
    value: dummy-value

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_PASSWORD
    value: dummy-value

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_DB_NAME
    value: dummy-value